<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside>
    <p>
      Copyright © 2023 - All right reserved by 
      <span class="bg-white text-slate-500 p-2 rounded-lg mr-1">Panda</span><span class="text-slate-800">Search</span>
      Item
    </p>
  </aside>
</footer>